@model TransaleFileViewModel
@{
    var items = ViewData["Languages"] as LanguageViewModel[];
    var selectList = new SelectList(items, nameof(LanguageViewModel.Code), nameof(LanguageViewModel.Name));
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Translate" enctype="multipart/form-data" method="post">
        <div>
            <h3>1. Укажите документ</h1>
            <p>Поддерживаемые форматы: @string.Join(", ", Globals.SupportedExtensions)</p>
            <ul class="nav nav-tabs justify-content-center" id="fileTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="file-tab" data-bs-toggle="tab" data-bs-target="#file" type="button" role="tab" aria-controls="file" aria-selected="true">Найти на компьютере</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="link-tab" data-bs-toggle="tab" data-bs-target="#link" type="button" role="tab" aria-controls="link" aria-selected="true">По ссылке</button>
                </li>
            </ul>
            <div class="tab-content pt-4" id="fileTabContent">
                <div class="tab-pane fade show active" id="file" role="tabpanel" aria-labelledby="file-tab">
                    <div class="d-flex flex-column align-items-center">
                        <input class="form-control" asp-for="File" type="file" id="file" style="width: 500px">
                        <div>
                            <span class="text-danger" asp-validation-for="File"></span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab">
                    <div class="d-flex flex-column align-items-center">
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control", style = "width: 500px", placeholder = "http://www.example.com/examplefile.docx" })
                        <div>
                            <span class="text-danger" asp-validation-for="Url"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h3 class="mb-3">2. Выберите языки</h1>
            <div class="d-flex align-items-center justify-content-center">
                Перевести с
                <select class="form-select w-auto mx-2" asp-for="SourceLanguage" asp-items="selectList"></select>
                на
                <select class="form-select w-auto mx-2" asp-for="TargetLanguage" asp-items="selectList"></select>
            </div>
        </div>

        <div class="mt-4">
            <input class="btn btn-primary" type="submit" value="Перевести" />
        </div>
    </form>
</div>