@model TransaleFileViewModel
@{
    var selectList = ViewData["Languages"] is LanguageViewModel[] languages
        ? new SelectList(languages, nameof(LanguageViewModel.Code), nameof(LanguageViewModel.Name))
        : null;
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Translate" enctype="multipart/form-data" method="post">
        <div>
            <h1 class="display-6">1. Выберите документ для перевода</h1>
            <p>Загрузите @string.Join(", ", Globals.SupportedExtensions)</p>
            <input class="btn btn-outline-dark" asp-for="File" type="file">
            <div>
                <span class="text-danger" asp-validation-for="File"></span>
            </div>
        </div>

        <div class="mt-4">
            <h1 class="display-6">2. Выберите языки перевода</h1>
            Перевести с
            <select asp-for="SourceLanguage" asp-items="selectList"></select>
            на
            <select asp-for="TargetLanguage" asp-items="selectList"></select>
        </div>

        <div class="mt-4">
            <input class="btn btn-primary" type="submit" value="Перевести" />
        </div>
    </form>
</div>