@model TranlsationResultViewModel

@{
    ViewData["Title"] = "Result";
    Layout = null;
}

@if (!string.IsNullOrWhiteSpace(Model?.FileName))
{
    <p>Translation results for @Model.FileName</p>
    <p>---------------------------------------</p>
}

@if (Model?.OriginalTexts != null && Model.OriginalTexts.Any())
{
    foreach (var item in Model.OriginalTexts)
    {
        <p>@item</p>
    }
    <p>---------------------------------------</p>
}

@if (Model?.Translations != null && Model.Translations.Any())
{
    foreach (var item in Model.Translations)
    {
        <p>@item</p>
    }
}
